* {
  margin: 0;
  padding: 0;
}

td {
  border: 1px solid black;
  padding: 10px;
}

.sizes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}
.colors {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
}
.table {
  margin-top: 2rem;
}
label,
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
}

button {
  background-color: rgb(181, 251, 228);
  padding: 5px 10px;
  border-radius: 9px;
  border: 1px solid black;
  font-size: 14px;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
